<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ORGAN DONATION</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">

	<base href="/">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<style>
		.hidden {
			display: none
		}
	</style>
	</head>
	<body>
		
	<div class="colorlib-loader"></div>
	
	<div class="alert-primary d-flex align-items-center alert" >
		<div class="alert" id="alertMessage"></div>
	</div>

	<div class="container">
				  
		<h1 style="margin-top: 50px; margin-bottom: 30px;"><a href="/index.html" style="color: black; text-decoration: none;">Dashboard</a> / <a href="/patientlist.html" style="color: black; text-decoration: none;">Patient List</a> / Patient Details</h1>
		<form method="POST" action="/register_patient" id="donor_form">
			<div class="row form-group">
				<div class="col-md-8">
					<label for="fname">Name*</label>
					<input disabled type="text" id="fname" name="fname" class="form-control" value="<%= document.name %>" required>
				</div>
				<div class="col-md-4">
					<label for="patientId">Patient Id*</label>
					<input disabled type="text" id="patientId" name="patientId" class="form-control" value="<%= document.patientId %>" required>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-4">
					<label for="age">Age (Completed)*</label>
					<input disabled type="number" id="age" name="age" class="form-control" value="<%= document.age %>" required>
				</div>
				<div class="col-md-4">
					<label for="gender">Gender*</label>
					<input disabled id="age" name="age" class="form-control" value="<%= document.gender %>" required>
				</div>
				<div class="col-md-4">
					<label for="age">Preferred Language*</label>
					<input disabled type="text" id="language" name="language" class="form-control" value="<%= document.prefered_language %>" required>
				</div>
			</div>
			
			<div class="row form-group">
				<div class="col-md-4">
					<label for="email">Email</label>
					<input disabled type="email" id="email" name="email" class="form-control" value="<%= document.email %>">
				</div>
				<div class="col-md-4">
					<label for="phone">Phone Number*</label>
					<input disabled type="number" id="phone" name="phone" class="form-control" required value="<%= document.phoneNo %>">
				</div>
				<div class="col-md-4">
					<label for="emergencyContact">Emergency Contact Number*</label>
					<input disabled type="number" id="emergencyContact" name="emergencyContact" class="form-control" required value="<%= document.emergencyPhoneNo %>">
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-12">
					<label for="message">Address*</label>
					<textarea disabled name="address" id="address" cols="30" rows="2" class="form-control" required ><%= document.address %></textarea>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-4">
					<label for="medicalHistory">Medical History*</label>
					<textarea disabled name="medicalHistory" id="medicalHistory" cols="30" rows="6" class="form-control" required><%= document.medicalHistory %></textarea>
				</div>
				<div class="col-md-4">
					<label for="familyHistory">Family History*</label>
					<textarea disabled name="familyHistory" id="familyHistory" cols="30" rows="6" class="form-control" required><%= document.familyHistory %></textarea>
				</div>
				<div class="col-md-4">
					<label for="medications">Current Medication*</label>
					<textarea disabled name="medications" id="medications" cols="30" rows="6" class="form-control" required><%= document.currentMedication %></textarea>
				</div>
			</div>
			
			<div class="row form-group">
				<div class="col-md-12">
					<label for="immunizationRecord">Immunization Record*</label>
					<input disabled type="text" name="immunizationRecord" id="immunizationRecord" class="form-control" value="<%= document.immunizationRecord %>" placeholder="History of vaccinations received by the patient." required></input>
				</div>
			</div>

            <div class="row form-group">
				<div class="col-md-12">
					<label for="insurence">Insurence Details*</label>
					<input disabled type="text" name="insurence" id="insurence" class="form-control" value="<%= document.insurence %>" placeholder="History of vaccinations received by the patient." required></input>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-6">
					<label for="physicianName">Primary Care Physician</label>
					<input disabled type="text" name="physicianName" id="physicianName" value="<%= document.physicianName %>" class="form-control"></input>
				</div>
				<div class="col-md-6">
					<label for="physicianNameContact">Primary Care Physician Contact Number</label>
					<input disabled type="number" name="physicianContact" id="physicianContact" value="<%= document.physicianContact %>" class="form-control"></input>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-3">
					<label for="bloodGroup">BloodGroup*</label>
					<input disabled name="physicianContact" id="physicianContact" value="<%= document.bloodGroup %>" class="form-control"></input>
				</div>
				<div class="col-md-3">
					<label for="scr">sCr*</label>
					<input disabled type="number" id="scr" name="scr" class="form-control" value="<%= document.sCr %>" required>
				</div>
				<div class="col-md-3">
					<label for="egfr">eGFR*</label>
					<input disabled type="number" id="egfr" name="egfr" class="form-control" value="<%= document.eGFR %>" required>
				</div>
				<div class="col-md-3">
					<label for="hba1c">HbA1c*</label>
					<input disabled type="number" id="hba1c" name="hba1c" class="form-control" value="<%= document.HbA1c %>" required>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-12">
					<label for="hospital">Hospital Location*</label>
					<input disabled type="text" name="hospital" id="hospital" class="form-control" value="<%= document.hospital %>" required></input>
				</div>
			</div>
		</form>

		<h1 id="h1Title" style="margin-top: 50px; margin-bottom: 30px;">Matched Donor List</h1>
		<span id="alreadyPairedDetail" style="display: none;"></span>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Donor Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Blood Group</th>
                    <th>Registered Date</th>
                    <th>Mark as selected</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
	</div>
	<input type="hidden" id="patientDbId" value="<%= document._id %>">
    <pre style="display: none;" id="donersInfo"><%= document.donorsList %></pre>
	<input type="hidden" id="isPaired" value="<%= document.linkedWithId %>">
	<input type="hidden" id="linkedDonerUserId" value="<%= document.linkedWithUserId %>">

    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
	
    <!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

    <script defer>
		$(document).ready(function () {
			$(".alert").css("display", "none")
		});

		const alreadyPaired = document.getElementById("isPaired").value
		if(alreadyPaired == ""){
			const donersData = JSON.parse(document.getElementById("donersInfo").innerText)
			const patientDbId = document.getElementById("patientDbId").value
			donersData.forEach(data => {
				const tr = document.createElement('tr');

				const id = document.createElement('td');
				const anchor = document.createElement('a');
				anchor.setAttribute('href', `get_donor_details/${data["_id"]}`);
				anchor.textContent = data["donorId"];
				id.appendChild(anchor);
				tr.appendChild(id);
				
				const name = document.createElement('td');
				name.textContent = data["name"];
				tr.appendChild(name);
									
				const age = document.createElement('td');
				age.textContent = data["age"];
				tr.appendChild(age);
				
				const address = document.createElement('td');
				address.textContent = data["address"];
				tr.appendChild(address);

				const bloodGroup = document.createElement('td');
				bloodGroup.textContent = data["bloodGroup"];
				tr.appendChild(bloodGroup);

				const insertedDate = document.createElement('td');
				date = new Date(data["insertedDate"]);
				insertedDate.textContent = `${date.getDate()}-${date.getMonth()}-${date.getFullYear()}` 
				tr.appendChild(insertedDate);

				const pairedId = document.createElement('td');
				const pairedIdAnchor = document.createElement('a');
				pairedIdAnchor.setAttribute('href', `pair_donor/${patientDbId}/${data["_id"]}`);
				pairedIdAnchor.textContent = "Select";
				pairedIdAnchor.name = "link";
				pairedId.appendChild(pairedIdAnchor);
				tr.appendChild(pairedId);

				$("#tableBody").append(tr);
			});
			new DataTable('#example');
		} else{
			const linkedDonerUserId = document.getElementById("linkedDonerUserId").value
			$("#example").css("display", "none");
			$("#alreadyPairedDetail").css("display", "block");
			$("#alreadyPairedDetail").html(`<h2>Patient already paired with donor id : <a href='/get_donor_details/${alreadyPaired}'>${linkedDonerUserId}</a><h2>`)
			$("#h1Title").text('Matched Donor Details :')

		}

		$('a[name="link"]').on('click', function(event) {
			event.preventDefault();
			$(".colorlib-loader").css("display", "block");
			$.ajax({
				method: "POST",
				url: `${this.pathname}`,
				success: function(data){
					if (data.status == "success") {
						$("#example_wrapper").css("display", "none");
						$("#h1Title").text('Matched Donor Details :')
						$("#alreadyPairedDetail").css("display", "block");
						linkedDonerUserId = document.querySelector(`a[href="get_donor_details/${data.linkedWith}"]`).innerText;
						$("#alreadyPairedDetail").html(`<h2>Patient paired with donor id : <a href='/get_donor_details/${data.linkedWith}'>${linkedDonerUserId}</a><h2>`)
					}

					$(".colorlib-loader").css("display", "none");
					$("#alertMessage").text(data.msg);
					$(".alert").css("display", "flex")
					$('html, body').scrollTop(0);
					
					setTimeout(function(){
						$(".alert").css("display", "none")
					}, 7000);
				},
				error: function(e){
					$(".colorlib-loader").css("display", "none");
				}
			})
		});
    </script>
	</body>
</html>

